@import '../scss/base';
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Medium-webfont.ttf'); // IE: src:  url('/fonts/Avenir-Roman-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
}

.redirect-show {
  margin-top: 30px;
}

.app-component {
  opacity: 0;
  min-height: 100vh;
  .order-details {
    padding: 15px;
    text-align: center;
    .logo {
      width: 80px;
    }
    i {
      font-size: 20px;
    }
    .btn-link {
      color: #e1e1e1;
      text-transform: uppercase;
      font-weight: 500;
    }
    .btn-link:hover {
      text-decoration: none;
    }
  }
  .map-wrap {
    margin-bottom: 30px;
    .poster-component {
      width: 100%;
    }
  }
}

// Popover Styles
.popover {
  border: 1px solid transparent !important;
  border-radius: 6px !important;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2) !important;
  font-size: 16px;
  font-weight: normal;
  color: $tns-text;
  transform: translateY(1px);
  &.bottom {
    left: 29px !important;
    .arrow {
      margin-left: -41px !important;
      border-bottom-color: transparent !important;
    }
    .popover-title {
      display: none !important;
    }
    .popover-content {
      background: white !important;
    }
  }
}

.footer {
  background-color: $press-primary;
  padding-top: 50px;
  padding-bottom: 20px;
  h3 {
    font-weight: 600;
    margin: 18px 0 40px;
    color: $press-white;
    font-size: 14px;
  }
  a {
    color: $press-navbar-text;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
    font-size: 11px;
    color: #fff;
    padding-top: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 18px 0;
    }
  }
  img {
    width: 160px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
}
