// Centers elements vertically and horizontally
@mixin centerer($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Centers elements vertically
@mixin v-center($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// Centers elements horizontally
@mixin h-center($position: relative) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}
