// Buttons
$press-btn-font-weight: 600;
$press-btn-font-size: 14px;
$press-btn-icon-size: $press-btn-font-size;
$btn-default-color: #88898b;

/* --------------- New --------------- */

// Button Font
$tns-btn-font-weight: 500;
$tns-mobile-btn-font-size: 13px;

// Button Color
$tns-btn-solid-icon-color: white;
$tns-btn-outline-icon-color: $tns-primary;
