// General
$tns-panel-input-height: 55px;
$tns-panel-input-width: 100%;
$tns-panel-input-border-radius: 5px;
$tns-panel-input-border: none;
$tns-panel-input-text-indent: 15px;
$tns-panel-input-font-size: 16px;
$tns-panel-muted-text: #889ca1;
$tns-panel-input-box-shadow: 0 0 25px rgba(43, 93, 105, 0.1);

// Textarea
$tns-panel-textarea-height: 90px;
$tns-panel-textarea-width: 100%;
$tns-panel-textarea-padding-top: 15px;
