// Panels
$press-heading-text: #333435;
$press-border-color: #e2e3e3;
$press-border-radius: 6px;
$press-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
$press-panel-heading-weight: bold;
$press-panel-image-size: 60px;
$press-panel-body-padding: 15px;
$press-panel-heading-padding: 20px;
$press-panel-footer-bg: white;
$press-panel-title-size: 20px;
$tns-panel-margin-bottom: 25px;
$tns-panel-margin-top: 0px;
$tns-panel-label-size: 16px;
$tns-panel-label-weight: normal;
$tns-panel-label-margin: 0 0 15px 0;
$tns-panel-heading-background: rgba(255, 255, 255, 0.5);
$tns-panel-background: linear-gradient(
  45deg,
  rgba(236, 240, 242, 1) 0%,
  rgba(236, 240, 242, 0.97) 100%
);

$tns-panel-label-toggle-border: rgba(19, 75, 89, 0.15);
